body{
 
  height: 100%;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  
  
}

.app_block {
  padding:5px 0 30px 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
  height:100%;
  
 
}
.app_block_div{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

@media screen and (max-width: 1039px ){
.app_block_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}
}

